@page
@model OdeToFood.Pages.Restaraunts.ListModel
@{
}

@if (Model.Message != null) { 
    <div class="alert alert-info">@Model.Message</div>
}

<div>

</div>



<form method="get">
    <div class="form-group">
        <div class="input-group">
            <input type="search" class="form-control" asp-for="SearchTerm" />
            <span class="input-group-btn">
                <button class="btn btn-default">Search</button>
            </span>
        </div>
    </div>
</form>


@foreach (var restaurant in Model.Restaurants) { 
    <partial name="_Summary" model="restaurant" />
}

<div>
    <a class="btn btn-danger" asp-page="./CreateRestaurant">Create Restaurant</a>
</div>
