@page
@model OdeToFood.Pages.CustomPages.ListModel
@{
}
@if (TempData["Message"] != null) { 
    <div class="alert alert-info">@TempData["Message"]</div>
}


<h1>List of all restaurants</h1>

<form method="get">
    <div class="form-group">
       <div class="input-group">
           <input type="search" class="form-control" name="SearchTerm"/>
           <span class="input-group-btn">
               <button class="btn btn-light">Search</button>
           </span>
       </div>
     </div>
</form>
@foreach (var restaurant in Model.restaurants) { 
    <partial name="_RestaurantDetails" model="restaurant" />
}

<a class="btn btn-outline-danger" asp-page="AddRestaurant">Add Restaurant</a>