@page
@{
}
<h1>Page not found!</h1>
<h3>Maybe it was the restaurant that was deleted. The restaurant you wanted to search does not exist.</h3>

<a class="btn btn-primary" asp-page="./List">All Restaurants</a>